<%- include('includes/head') %>
<%- include('includes/nav') %>


<div class="main-container">
    <% if(posts.length > 0) { %>
        <div class="posts-container">
            <% posts.forEach(post => { %>
                <a href="/post/show/<%= post._id %>">
                    <div class="post">
                        <h4><%= post.title %></h4>
                        <p><%= post.text %></p>
                        <div class="postButtons">
                            <div class="update">
                                <a href="/post/update/<%= post._id %>">Atualizar</a>
                            </div>
                            <div class="delete">
                                <a href="/post/delete/<%= post._id %>">Apagar</a>
                            </div>
                        </div>
                    </div>
                </a>
            <% }); %>
        </div>
    <% } else { %> 
    <div class="no-posts">
        <p>Nenhum post encontrado!</p>
    </div>
    <% } %>
</div>


<%- include('includes/footer') %>
