<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="main-container">
    <div class="mainPost">
        <h2><%= post.title %></h2>
        <p><%= post.text %></p>
    </div>
</div>


<%- include('includes/footer') %>
